
<div class="modal-header">
    <h3 class="modal-title">Edit columns</h3>
</div>
<div class="modal-body">
    <div class="checkbox" ng-repeat="field in fields">
        <label>
            <input type="checkbox" ng-checked="column[field]" ng-model="column[field]">{{field}}
        </label>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="save()">Save</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>