<div class="row">
  <div class="col-md-2">
    <button type="button" id="edit-column" class="btn btn-primary" ng-click="editColumns()">Edit columns</button>
  </div>
  <div class="col-md-10">
    <div class="table-responsive">
      <table class="table" ng-init="loadData()">
        <thead>
            <tr>
                <th ng-repeat="field in fields" ng-click="orderBy(field)" ng-show="column[field]">
                <span ng-class="{'glyphicon glyphicon-chevron-down':order==field && !reverse, 'glyphicon glyphicon-chevron-up':order==field && reverse, sorting: order!=field }" class="sort"></span><a href="">{{field}}</a>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in lists | filter:query | orderBy:order:reverse | slice:limit*(currentPage-1):limit*(currentPage-1)+limit">
                <td ng-repeat="field in fields" ng-show="column[field]">{{item[field]}}</td>
            </tr>
        </tbody>
    </table>
  </div>

    <div class="row">
      <div class="col-xs-8">
        <pagination direct-links="false"
                boundary-links="true"
                items-per-page="limit"
                total-items="totalItems"
                ng-click="clickPage()"
                ng-model="currentPage"></pagination>    
      </div>
      <div class="col-xs-2">
        <select class="form-control limit" ng-model="limit" ng-change="changeLimin()"
        ng-options='limit.label as limit.value for limit in limits'>
        </select>        
      </div>
    </div>

  </div>
</div>