/* app css stylesheet */

body {
  padding-top: 20px;
}

.sort {
  display: block;
  right: 16px;
  top: 16px;
}

.limit {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}